{% macro render_post(post, alt='en', from_index=false) %}
  <div class="post">
  {% if from_index %}
    <h1><a href="{{ post|url }}">{{ post.title }}</a></h1>
  {% else %}
    <h1>{{ post.title }}</h1>
  {% endif %}
    <p class="meta">
      {% if alt == 'de' %}
      {{ post.pub_date|dateformat('dd-MM-YYYY') }},
      {% else %}
      {{ post.pub_date }}
      {% endif %}
    </p>

    {% if post.category %}
    <p class="category">
      <span class="label {{ post.category|lower }}">{{ (post.category_label or post.category)|title }}</span>
    </p>
    {% endif %}

    <div class="body">
      {# cover attachments #}
      {% if from_index or post.has_cover %}
      {% for img in post.attachments.images.filter(F.is_cover) %}
      <figure class="img">
        <img src="{{ img.thumbnail(300)|url }}" alt="{{ img.alt }}">
        <figcaption class="caption">{{ img.license }}, &copy; {{ img.copyright }}</figcaption>
      </figure>
      {% endfor %}
      {% endif %}

      {% if from_index %}
      <div class="outline">
      {{ post.outline }}
      </div>
      {% else %}
      <div class="content">
      {{ post.body }}
      </div>
      {% endif %}
    </div>
  </div>
{% endmacro %}
