body {
  margin: 0;
  padding: 0;
  color: #888888;
  font-family: 'Futura Book', sans-serif;
}

/* link */
a {
  color: #c1cdcd;
}

a:hover {
  color: #999999;
}

/* layout */
.wrapper {
  display: flex;
  height: 100vh;
}

header {
  flex: 1 0 auto;
  max-width: 19.61rem;
  min-width: 19.61rem;
  background: #dcdcdc;
  position: relative;
}

/* site description */
header .description {
  bottom: 0.06rem;
  left: 0.92rem;
  margin: 1.71rem 0;
  padding: 0 1.2rem;
  text-align: right;
  position: absolute;
}

.description p {
  font-size: 1.14rem;
}

.description a {
  color: #888888;
}

.description.mobile.only {
  display: none;
}

@media screen and (max-width: 1024px) {
  header {
    display: none;
    width: 0 !important;
  }

  header .description {
    position: relative;
    display: none;
  }

  .description.mobile.only {
    display: block;
  }

  .description.mobile.only .title {
    font-size: 3.04em;
    margin-bottom: 0.66rem;
  }

  .description.mobile.only .title a {
    text-decoration: none;
  }

  .description.mobile.only .description p {
    margin: 0;
  }
}

.container {
  flex: 1 1 auto;
  outline: 0;
  outline-style: none;
  overflow-x: visible;
  overflow-y: auto;
  padding-left: 1.86rem;
  padding-right: 1.86rem;
  position: relative;
}


footer  {
  margin: 0 0 1.62rem 0;
  padding: 0;
}

/* site title */
.description .title {
  margin: 1.2rem 0.02rem 0.36rem 0.02rem;
  font-weight: normal;
  font-size: 2.24em;
}

.description .title a {
  color: #888888;
  text-decoration: none;
}

.description .title a:hover {
  color: #999999;
}

/* nav */
nav {
  display: block;
}

nav ul.nav {
  margin: 0.66rem 0;
  padding: 0;
}

nav ul.nav li {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

nav ul.nav li.item {
  display: inline-block;
  margin: 0 0 0.66rem 0;
}

nav ul.nav li.item a {
  color: #838383;
  font-size: 1.06rem;
}

/* container */
.index, .page {
  padding-bottom: 1.11rem;
}

.post {
  padding: 0 0 2.19rem 0;
  border-bottom: 1px solid #f3f3f3;
}

.index > .post:nth-last-child(2),
.page > .post:last-child {
  border: none;
}

.index .post {
  margin: 1.21rem 0 1.11rem 0;
}

.page .post {
  margin: 3.16rem 0 0.06rem 0;
}

.body {
  margin: 2.12rem 0 1.2rem 0;
}

.body .outline,
.body .content {
  margin: 1.63rem 0;
  padding: 0;
  font-size: 1.28em;
  font-family: 'Weekly Light', sans-serif;
  line-height: 1.13em;
}

.body pre {
  text-align: left;
  font-size: 81%;
  font-weight: normal;
  color: #f3f3f1;
  background: #222222;
  padding: 0.66rem 0.88rem;
  margin: 0.44rem 0;
  overflow-x: auto;
  overflow-y: hidden;
}

/* inline style */
span.monospaced {
  font-family: monospace;
  display: inline-block;
}


.body span.monospaced {
  font-family: monospace;
  display: inline-block;
  margin: 0 0.21rem;
  padding: 0.08rem 0.34rem;
  background-color: #f1f1f1;
  border-radius: 0.162rem;
}

span.bold {
  font-weight: bold;
}

/* typo */
.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  font-weight: normal;
  font-family: 'Weekly Light', sans-serif;
}

.post h1 { font-size: 1.96em; margin: 3.11rem 0 1.91rem 0; }
.post h2 { font-size: 1.31em; margin: 3.01rem 0 1.81rem 0; }
.post h3 { font-size: 1.23em; margin: 2.91rem 0 1.71rem 0; }
.post h4 { font-size: 1.16em; margin: 2.81rem 0 1.61rem 0; }
.post h5 { font-size: 1.09em; margin: 2.61rem 0 1.41rem 0; }
.post h6 { font-size: 1.08em; margin: 2.55rem 0 1.21rem 0; }

/* list */
.body ul {
  padding: 0 0 0 1.45rem;
  margin: 2.58rem 0 1.96rem 0;
}

.body ul li {
  text-align: left;
  line-height: 1.03rem;
}

/* figure */
.img {
  margin: 0.86rem 0;
}

.img img {
  display: block;
  margin: 0;
  border: 2px solid #d3d3d3;
  border-radius: 0.21rem;
}

.img .caption {
  display: inline-block;
  margin: 0.36rem 0;
  font-size: 0.816em;
}

/* block */
.listingblock .title {
  font-family: monospace;
  font-size: 0.95rem;
  font-weight: bold;
}

.listingblock .content {
  margin: 0.38rem 0 1.53rem 0;
}

.admonitionblock .icon {
  padding: 0.41rem 0.58rem 0.41rem 0;
}

.admonitionblock .content {
  border-left: 2px solid #f3f3f3;
  padding: 0.41rem 1.76rem;
  font-size: 0.91em;
}

/* label */
span.label {
  display: inline-block;
  padding: 0.26rem 0.78rem;
  margin: 0;
  border-radius: 1.116rem;
  font-size: 0.98em;
  font-family: monospace;
}

span.label.none { background: #d3d3d3; }
span.label.sweets { background: #fad8d2; }
span.label.work { background: #cfe2cf; }
span.label.music { background: #d1f6f8; }

/* pagination */
.pagination {
  margin: 3.91rem 0 1.2rem 0;
}

.license {
  display: inline-block;
  margin-right: 0.61rem;
}
